/* General Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Container */
.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

/* Utilities */

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.flt-l {
  float: left;
}

.list-inline li {
  display: inline-block;
  padding: 0 10px;
}

.list-inline li:first-child {
  padding-left: 0;
}

.list-inline li:last-child {
  padding-right: 0;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0 10px;
  min-width: 100px;
  border: solid 1px #fff;
  border-radius: 5px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.btn-xl {
  padding: 15px ;
}

.btn-green {
  background: #7cbb02;
  border: none;
}
/* typography */

/* HEADER */

.main-header {
  line-height: 80px;
  background: #0c325a;
}

/* navbar */
.navbar a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar-img {
  width: 15%;
}

.navbar-img img {
  display: inline-block;
  vertical-align: middle;
}

.navbar-center {
  width: 45%;
}

.navbar-right {
  text-align: right;
  width: 40%;
}
