/* General Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #808080;
}

/* Container */

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

/* Utilities */

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.flt-l {
  float: left;
}
.list-inline li {
  display: inline-block;
  padding: 0 10px;
}
.list-inline li:first-child {
  padding-left: 0;
}
.list-inline li:last-child {
  padding-right: 0;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0 10px;
  min-width: 100px;
  border: solid 1px #fff;
  border-radius: 5px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.btn-xl {
  padding: 15px ;
}
.btn-green {
  background: #7cbb02;
  border: none;
}

/* typography */
h1,
h2,
h3 {
  margin-bottom: 20px;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 28px;
}

/* HEADER */

.main-header {
  background-color: #0c325a;
  background-image: url('../img/header/background-header.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 50%;
}
.main-header a {
  color: #fff;
  text-decoration: none;
}

/* navbar */

.navbar {
  display: block;
  line-height: 80px;
  font-size: 12px;
  text-transform: uppercase;

}
.navbar-img {
  width: 15%;
}
.navbar-img img {
  display: inline-block;
  vertical-align: middle;
}

.navbar-center {
  width: 45%;
}

.navbar-right {
  text-align: right;
  width: 40%;
}

/* jumbotron */
.jumbotron {
  height: 600px;
  position: relative;
}
.jumbotron-txt{
  color: #fff;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.main-slogan {
  color: #000;
  background: #d3d3d3;
  text-align: center;
  padding: 50px 10px;
}
.main-slogan p{
  color: #808080;
  font-size: 20px;
}
